<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bride_beautican.name %>
</p>

<p>
  <strong>Fitting:</strong>
  <%= @bride_beautican.fitting %>
</p>

<p>
  <strong>Meeting:</strong>
  <%= @bride_beautican.meeting %>
</p>

<p>
  <strong>User:</strong>
  <%= @bride_beautican.user %>
</p>

<%= link_to 'Edit', edit_bride_beautican_path(@bride_beautican) %> |
<%= link_to 'Back', bride_beauticans_path %>
