<p id="notice"><%= notice %></p>

<h1>Akcesoria</h1>

<table>
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Kolor</th>
      <th>Rozmiar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bride_accessories.each do |bride_accessory| %>
      <tr>
        <td><%= bride_accessory.name %></td>
        <td><%= bride_accessory.color %></td>
        <td><%= bride_accessory.size %></td>
        <td><%= link_to 'Show', bride_accessory %></td>
        <td><%= link_to 'Edit', edit_bride_accessory_path(bride_accessory) %></td>
        <td><%= link_to 'Destroy', bride_accessory, method: :delete, data: { confirm: 'Jesteś pewny/a?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj', new_bride_accessory_path %> |
<%= link_to 'Wstecz', bride_path %>
