<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa:</strong>
  <%= @bride_accessory.name %>
</p>

<p>
  <strong>Kolor:</strong>
  <%= @bride_accessory.color %>
</p>

<p>
  <strong>Rozmiar:</strong>
  <%= @bride_accessory.size %>
</p>


<%= link_to 'Edytuj', edit_bride_accessory_path(@bride_accessory) %> |
<%= link_to 'Wstecz', bride_accessories_path %>
