<p id="notice"><%= notice %></p>

<p>
  <strong>Kto:</strong>
  <%= @wedding_service.who %>
</p>

<p>
  <strong>Nazwa:</strong>
  <%= @wedding_service.name %>
</p>

<p>
  <strong>Kontakt:</strong>
  <%= @wedding_service.contact %>
</p>

<%= link_to 'Edytuj', edit_wedding_service_path(@wedding_service) %> |
<%= link_to 'Wróć', wedding_services_path %>
