<%= form_for(bride_accessory) do |f| %>
  <% if bride_accessory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bride_accessory.errors.count, "error") %> Nie można dodać elementu</h2>

      <ul>
      <% bride_accessory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nazwa" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "Kolor" %>
    <%= f.text_field :color %>
  </div>

  <div class="field">
    <%= f.label "Rozmiar" %>
    <%= f.number_field :size %>
  </div>

  <div class="actions">
    <%= f.submit "Potwierdź"%>
  </div>
<% end %>
