<p id="notice"><%= notice %></p>

<h1>Dekoracje Sali Weselnej</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Kolor</th>
      <th>Ilosc</th>
      <th colspan="3">Opcje</th>
    </tr>
  </thead>

  <tbody>
    <% @wedding_decorations.each do |wedding_decoration| %>
      <tr>
        <td><%= wedding_decoration.name %></td>
        <td><%= wedding_decoration.colour %></td>
        <td><%= wedding_decoration.amount %></td>
        <td><%= link_to 'Pokaż', wedding_decoration %></td>
        <td><%= link_to 'Edytuj', edit_wedding_decoration_path(wedding_decoration) %></td>
        <td><%= link_to 'Usuń', wedding_decoration, method: :delete, data: { confirm: 'Jesteś pewny/a' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj', new_wedding_decoration_path %>
