<p id="notice"><%= notice %></p>

<h1>Suknia ślubna</h1>

<table class="table">
  <thead>
    <tr>
      <th>Model</th>
      <th>Rozmiar</th>
      <th>Data przymiarki</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bride_dresses.each do |bride_dress| %>
      <tr>
        <td><%= bride_dress.model %></td>
        <td><%= bride_dress.size %></td>
        <td><%= bride_dress.fitting %></td>
        <td><%= link_to 'Pokaż', bride_dress %></td>
        <td><%= link_to 'Edytuj', edit_bride_dress_path(bride_dress) %></td>
        <td><%= link_to 'Usuń', bride_dress, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj', new_bride_dress_path %> |
<%= link_to 'Wstecz', bride_path %>
