<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @bride_dress.model %>
</p>

<p>
  <strong>Rozmiar:</strong>
  <%= @bride_dress.size %>
</p>

<p>
  <strong>Data przymiarki:</strong>
  <%= @bride_dress.fitting %>
</p>


<%= link_to 'Edytuj', edit_bride_dress_path(@bride_dress) %> |
<%= link_to 'Wstecz', bride_dresses_path %>
