<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa:</strong>
  <%= @bride_hairdresser.name %>
</p>

<p>
  <strong>Wizyta próbna:</strong>
  <%= @bride_hairdresser.fitting %>
</p>

<p>
  <strong>Wizyta w dniu ślubu:</strong>
  <%= @bride_hairdresser.meeting %>
</p>

<%= link_to 'Edytuj', edit_bride_hairdresser_path(@bride_hairdresser) %> |
<%= link_to 'Wstecz', bride_hairdressers_path %>
