<p id="notice"><%= notice %></p>

<h1>Obraczki</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nazwa modelu</th>
      <th>Rozmiar</th>
      <th colspan="3">Opcje</th>
    </tr>
  </thead>

  <tbody>
    <% @church_rings.each do |church_ring| %>
      <tr>
        <td><%= church_ring.name %></td>
        <td><%= church_ring.size %></td>
        <td><%= link_to 'Pokaz', church_ring %></td>
        <td><%= link_to 'Edytuj', edit_church_ring_path(church_ring) %></td>
        <td><%= link_to 'Usun', church_ring, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowe obraczki', new_church_ring_path %>
