<%= form_for(church_best) do |f| %>
  <% if church_best.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(church_best.errors.count, "error") %> prohibited this church_best from being saved:</h2>

      <ul>
      <% church_best.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name , 'Imie' %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :surname, 'Nazwisko' %>
    <%= f.text_field :surname %>
  </div>

  <div class="actions">
    <%= f.submit 'Potwierdz' %>
  </div>
<% end %>
