<p id="notice"><%= notice %></p>

<h1>Swiadkowie</h1>

<table class="table">
  <thead>
    <tr>
      <th>Imie</th>
      <th>Nazwisko</th>
      <th colspan="3">Opcje</th>
    </tr>
  </thead>

  <tbody>
    <% @church_bests.each do |church_best| %>
      <tr>
        <td><%= church_best.name %></td>
        <td><%= church_best.surname %></td>
        <td><%= link_to 'Pokaz', church_best %></td>
        <td><%= link_to 'Edytuj', edit_church_best_path(church_best) %></td>
        <td><%= link_to 'Usun', church_best, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowy swiadek', new_church_best_path %>
