<p id="notice"><%= notice %></p>

<h1>Kosmetyczka</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Wizyta próbna</th>
      <th>Wizyta w dniu ślubu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bride_beauticans.each do |bride_beautican| %>
      <tr>
        <td><%= bride_beautican.name %></td>
        <td><%= bride_beautican.fitting %></td>
        <td><%= bride_beautican.meeting %></td>
        <td><%= link_to 'Pokaż', bride_beautican %></td>
        <td><%= link_to 'Edytuj', edit_bride_beautican_path(bride_beautican) %></td>
        <td><%= link_to 'Usuń', bride_beautican, method: :delete, data: { confirm: 'Czy na pewno usunąć?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj', new_bride_beautican_path %> |
<%= link_to 'Wstecz', bride_path %>
