<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa:</strong>
  <%= @bride_beautican.name %>
</p>

<p>
  <strong>Wizyta próbna:</strong>
  <%= @bride_beautican.fitting %>
</p>

<p>
  <strong>Wizyta w dniu ślubu:</strong>
  <%= @bride_beautican.meeting %>
</p>

<%= link_to 'Edytuj', edit_bride_beautican_path(@bride_beautican) %> |
<%= link_to 'Wstecz', bride_beauticans_path %>
