<%= form_for(bride_hairdresser) do |f| %>
  <% if bride_hairdresser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bride_hairdresser.errors.count, "error") %> Nie można dodać elementu</h2>

      <ul>
      <% bride_hairdresser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nazwa" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "Wizyta próbna" %>
    <%= f.date_select :fitting %>
  </div>

  <div class="field">
    <%= f.label "Wizyta w dniu ślubu" %>
    <%= f.date_select :meeting %>
  </div>

  <div class="actions">
    <%= f.submit "Zatwierdź"%>
  </div>
<% end %>
