<%= form_for(bride_hairdresser) do |f| %>
  <% if bride_hairdresser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bride_hairdresser.errors.count, "error") %> prohibited this bride_hairdresser from being saved:</h2>

      <ul>
      <% bride_hairdresser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :fitting %>
    <%= f.date_select :fitting %>
  </div>

  <div class="field">
    <%= f.label :meeting %>
    <%= f.date_select :meeting %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
