<p id="notice"><%= notice %></p>

<h1>Fryzjer</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Wizyta próbna</th>
      <th>Wizyta w dniu ślubu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bride_hairdressers.each do |bride_hairdresser| %>
      <tr>
        <td><%= bride_hairdresser.name %></td>
        <td><%= bride_hairdresser.fitting %></td>
        <td><%= bride_hairdresser.meeting %></td>
        <td><%= link_to 'Pokaż', bride_hairdresser %></td>
        <td><%= link_to 'Edytuj', edit_bride_hairdresser_path(bride_hairdresser) %></td>
        <td><%= link_to 'Usuń', bride_hairdresser, method: :delete, data: { confirm: 'Czy na pewno usunąć?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj', new_bride_hairdresser_path %> |
<%= link_to 'Wstecz', bride_path %>
