<%= form_for(groom_accessory) do |f| %>
  <% if groom_accessory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(groom_accessory.errors.count, "error") %> prohibited this groom_accessory from being saved:</h2>

      <ul>
      <% groom_accessory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Nazwa' %>
    <%= f.text_area :name %>
  </div>

  <div class="field">
    <%= f.label :colour, 'Kolor' %>
    <%= f.text_field :colour %>
  </div>

  <div class="field">
    <%= f.label :amount, 'Rozmiar/Ilosc' %>
    <%= f.number_field :amount %>
  </div>

  <div class="actions">
    <%= f.submit 'Potwierdz'%>
  </div>
<% end %>
