<p id="notice"><%= notice %></p>

<h1>Akcesoria</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Kolor</th>
      <th>Rozmiar/Ilosc</th>
      <th colspan="3">Opcje</th>
    </tr>
  </thead>

  <tbody>
    <% @groom_accessories.each do |groom_accessory| %>
      <tr>
        <td><%= groom_accessory.name %></td>
        <td><%= groom_accessory.colour %></td>
        <td><%= groom_accessory.amount %></td>
        <td><%= link_to 'Pokaż', groom_accessory %></td>
        <td><%= link_to 'Edytuj', edit_groom_accessory_path(groom_accessory) %></td>
        <td><%= link_to 'Usuń', groom_accessory, method: :delete, data: { confirm: 'Jesteś pewny/a' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj', new_groom_accessory_path %>|
<%= link_to 'Wróć', groom_accessories_path %>
