<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa:</strong>
  <%= @groom_accessory.name %>
</p>

<p>
  <strong>Kolor:</strong>
  <%= @groom_accessory.colour %>
</p>

<p>
  <strong>Rozmiar/Ilosc:</strong>
  <%= @groom_accessory.amount %>
</p>

<%= link_to 'Edytuj', edit_groom_accessory_path(@groom_accessory) %> |
<%= link_to 'Wróć', groom_accessories_path %>
