<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @bride_dress.model %>
</p>

<p>
  <strong>Size:</strong>
  <%= @bride_dress.size %>
</p>

<p>
  <strong>Fitting:</strong>
  <%= @bride_dress.fitting %>
</p>

<p>
  <strong>User:</strong>
  <%= @bride_dress.user %>
</p>

<%= link_to 'Edit', edit_bride_dress_path(@bride_dress) %> |
<%= link_to 'Back', bride_dresses_path %>
