<nav id="navbar-primary" class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-primary-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-primary-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to root_path do %>
        <i class="glyphicon glyphicon-home">Strona główna </i>
        <% end %></li>
        <li><%= link_to "O stronie",   '/about' %></li>
        <li><%= link_to "Pomoc",   '/help' %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Panna młoda", '/bride' %></li>
          <li><%= link_to "Pan młody", '#' %></li>
          <li><%= link_to "Kościół", church_path %></li>
          <li><%= link_to "Wesele", wedding_path %></li>
          <li><%= link_to "Goście", guests_path %></li>
          <li>
            <%= link_to "Wyloguj", destroy_user_session_path, :metod => :delete %>
          </li>
        <% else %>
        <li><%= link_to "Logowanie", '/users/sign_in' %></li>
        <li><%= link_to "Rejestracja", '/users/sign_up' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
