<h1>Panna młoda</h1>
<br><br>
<h3><i><b>Suknia ślubna</i></b></h3>

<table class="table">
  <thead>
    <tr>
      <th>Model</th>
      <th>Rozmiar</th>
      <th>Przymiarki</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @bride_dresses.each do |bride_dress| %>
      <tr>
        <td><%= bride_dress.model %></td>
        <td><%= bride_dress.size %></td>
        <td><%= bride_dress.fitting %></td>
        <td><%= link_to 'Pokaż', bride_dress %></td>
        <td><%= link_to 'Edytuj', edit_bride_dress_path(bride_dress) %></td>
        <td><%= link_to 'Usuń', bride_dress, method: :delete, data: { confirm: 'Czy na pewno usunąć??' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Dodaj', new_bride_dress_path %>
<br><br>
<h3><i><b>Dodatki </i></b></h3>

<table class=table>
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Kolor</th>
      <th>Rozmiar</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @bride_accessories.each do |bride_accessory| %>
      <tr>
        <td><%= bride_accessory.name %></td>
        <td><%= bride_accessory.color %></td>
        <td><%= bride_accessory.size %></td>
        <td><%= link_to 'Pokaż', bride_accessory %></td>
        <td><%= link_to 'Edytuj', edit_bride_accessory_path(bride_accessory) %></td>
        <td><%= link_to 'Usuń', bride_accessory, method: :delete, data: { confirm: 'Czy na pewno usunąć?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Dodaj', new_bride_accessory_path %>
<br><br>
<h3><i><b>Fryzjer</i></b></h3>

<table class="table">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Wizyta próbna</th>
      <th>Wizyta w dniu ślubyu</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @bride_hairdressers.each do |bride_hairdresser| %>
      <tr>
        <td><%= bride_hairdresser.name %></td>
        <td><%= bride_hairdresser.fitting %></td>
        <td><%= bride_hairdresser.meeting %></td>
        <td><%= link_to 'Pokaż', bride_hairdresser %></td>
        <td><%= link_to 'Edytuj', edit_bride_hairdresser_path(bride_hairdresser) %></td>
        <td><%= link_to 'Usuń', bride_hairdresser, method: :delete, data: { confirm: 'Czy na pewno usunąć?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Dodaj', new_bride_hairdresser_path %>
<br><br>
<h3><i><b>Kosmetyczka</b></i></h3>

<table class="table">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Wizyta próbna</th>
      <th>Wizyta w dniu ślubu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bride_beauticans.each do |bride_beautican| %>
      <tr>
        <td><%= bride_beautican.name %></td>
        <td><%= bride_beautican.fitting %></td>
        <td><%= bride_beautican.meeting %></td>
        <td><%= link_to 'Pokaż', bride_beautican %></td>
        <td><%= link_to 'Edytuj', edit_bride_beautican_path(bride_beautican) %></td>
        <td><%= link_to 'Usuń', bride_beautican, method: :delete, data: { confirm: 'Czy na pewno usunąć?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Dodaj', new_bride_beautican_path %>
