<h1>Panna młoda</h1>
<h3>Suknia ślubna</h3>

<table class="table">
  <thead>
    <tr>
      <th>Model</th>
      <th>Size</th>
      <th>Fitting</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @bride_dresses.each do |bride_dress| %>
      <tr>
        <td><%= bride_dress.model %></td>
        <td><%= bride_dress.size %></td>
        <td><%= bride_dress.fitting %></td>
        <td><%= link_to 'Show', bride_dress %></td>
        <td><%= link_to 'Edit', edit_bride_dress_path(bride_dress) %></td>
        <td><%= link_to 'Destroy', bride_dress, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Bride Dress', new_bride_dress_path %>

<h3> Dodatki </h3>

<table class=table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th>Size</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @bride_accessories.each do |bride_accessory| %>
      <tr>
        <td><%= bride_accessory.name %></td>
        <td><%= bride_accessory.color %></td>
        <td><%= bride_accessory.size %></td>
        <td><%= link_to 'Show', bride_accessory %></td>
        <td><%= link_to 'Edit', edit_bride_accessory_path(bride_accessory) %></td>
        <td><%= link_to 'Destroy', bride_accessory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Bride Accessory', new_bride_accessory_path %>

<h3> Uroda </h3>
<h4> Fryzjer </h4>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Fitting</th>
      <th>Meeting</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @bride_hairdressers.each do |bride_hairdresser| %>
      <tr>
        <td><%= bride_hairdresser.name %></td>
        <td><%= bride_hairdresser.fitting %></td>
        <td><%= bride_hairdresser.meeting %></td>
        <td><%= link_to 'Show', bride_hairdresser %></td>
        <td><%= link_to 'Edit', edit_bride_hairdresser_path(bride_hairdresser) %></td>
        <td><%= link_to 'Destroy', bride_hairdresser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Bride Hairdresser', new_bride_hairdresser_path %>

<h4>Kosmetyczka </h4>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th>Size</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @bride_accessories.each do |bride_accessory| %>
      <tr>
        <td><%= bride_accessory.name %></td>
        <td><%= bride_accessory.color %></td>
        <td><%= bride_accessory.size %></td>
        <td><%= link_to 'Show', bride_accessory %></td>
        <td><%= link_to 'Edit', edit_bride_accessory_path(bride_accessory) %></td>
        <td><%= link_to 'Destroy', bride_accessory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Bride Accessory', new_bride_accessory_path %>
