<h1>Kosciol</h1>
<br><br>
<h3><i><b>Ceremonia</i></b></h3>

<table class="table">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Adres</th>
      <th>Data ceremoni</th>
      <th colspan="3">Opcje</th>
    </tr>
  </thead>

  <tbody>
    <% @church_ceremonies.each do |church_ceremony| %>
      <tr>
        <td><%= church_ceremony.name %></td>
        <td><%= church_ceremony.adress %></td>
        <td><%= church_ceremony.date %></td>
        <td><%= link_to 'Pokaż', church_ceremony %></td>
        <td><%= link_to 'Edytuj', edit_church_ceremony_path(church_ceremony) %></td>
        <td><%= link_to 'Usuń', church_ceremony, method: :delete, data: { confirm: 'Jesteś pewny/a' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Dodaj', new_church_ceremony_path %>
<br><br>
<h3><i><b>Dodatki </i></b></h3>

<table class="table">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Kolor</th>
      <th>Ilosc</th>
      <th colspan="3">Opcje</th>
    </tr>
  </thead>

  <tbody>
    <% @church_decorations.each do |church_decoration| %>
      <tr>
        <td><%= church_decoration.name %></td>
        <td><%= church_decoration.colour %></td>
        <td><%= church_decoration.amount %></td>
        <td><%= link_to 'Pokaż', church_decoration %></td>
        <td><%= link_to 'Edytuj', edit_church_decoration_path(church_decoration) %></td>
        <td><%= link_to 'Usuń', church_decoration, method: :delete, data: { confirm: 'Jesteś pewny/a' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Dodaj', new_church_decoration_path %>
<br><br>
<h3><i><b>Swiadkowie</i></b></h3>

<table class="table">
  <thead>
    <tr>
      <th>Imie</th>
      <th>Nazwisko</th>
      <th colspan="3">Opcje</th>
    </tr>
  </thead>

  <tbody>
    <% @church_bests.each do |church_best| %>
      <tr>
        <td><%= church_best.name %></td>
        <td><%= church_best.surname %></td>
        <td><%= link_to 'Pokaż', church_best %></td>
        <td><%= link_to 'Edytuj', edit_church_best_path(church_best) %></td>
        <td><%= link_to 'Usuń', church_best, method: :delete, data: { confirm: 'Jesteś pewny/a' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Dodaj', new_church_best_path %>
<br><br>
<h3><i><b>Obraczki</b></i></h3>

<table class="table">
  <thead>
    <tr>
      <th>Nazwa modelu</th>
      <th>Rozmiar</th>
      <th colspan="3">Opcje</th>
    </tr>
  </thead>

  <tbody>
    <% @church_rings.each do |church_ring| %>
      <tr>
        <td><%= church_ring.name %></td>
        <td><%= church_ring.size %></td>
        <td><%= link_to 'Pokaż', church_ring %></td>
        <td><%= link_to 'Edytuj', edit_church_ring_path(church_ring) %></td>
        <td><%= link_to 'Usuń', church_ring, method: :delete, data: { confirm: 'Jesteś pewny/a' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Dodaj', new_church_ring_path %>
