<div class="img-1">
  <div class="caption">
    <span class="border">
      <%= link_to "Rejestracja", '/users/sign_up', class: 'link-text' %></span>
    <span class="border"><%= link_to "Logowanie", '/users/sign_in', class: 'link-text' %></span>
  </div>
</div>

<div class="whiteb">
  <span class="border-black"><i>Kocha się za nic. Nie is­tnieje żaden powód do miłości.
    <br>Paulo Coelho
  </i></span>
</div>
<div class="img-2">
  <div class="caption">
    <span class="border"><%= link_to "Panna młoda",   bride_path, class: 'link-text' %></span>
    <span class="border"><%= link_to "Pan młody",   '#', class: 'link-text' %></span>
  </div>
</div>

<div class="whiteb">
    <span class="border"><%= link_to "Goście",   guests_path, class: 'link-text' %></span>
</div>

<div class="img-3">
  <div class="caption">
    <span class="border"><%= link_to "Kościół ",   church_path, class: 'link-text' %></span>
    <span class="border"><%= link_to "Wesele",   wedding_path, class: 'link-text' %></span>
  </div>
</div>
