
<div class="img-1">
  <div class="caption">
    <span class="border"><%= link_to "Sign up", '/users/sign_up', class: 'link-text' %></span>
    <span class="border"><%= link_to "Log in", '/users/sign_in', class: 'link-text' %></span>
  </div>
</div>

<div class="whiteb">
  <p>DESCRIPTION: TODO</p>
</div>
<div class="img-2">
  <div class="caption">
    <span class="border"><%= link_to "Bride",   '#', class: 'link-text' %></span>
    <span class="border"><%= link_to "Groom",   '#', class: 'link-text' %></span>
  </div>
</div>

<div class="whiteb">
    <span class="border"><%= link_to "Guests",   '#', class: 'link-text' %></span>
</div>

<div class="img-3">
  <div class="caption">
    <span class="border"><%= link_to "Church ",   '#', class: 'link-text' %></span>
    <span class="border"><%= link_to "Wedding",   '#', class: 'link-text' %></span>
  </div>
</div>
