<h1>Wesele</h1>
<br><br>
<h3><i><b>Sala Weselna</i></b></h3>

<table class="table">
  <thead>
    <tr>
      <th>Nazwa obiektu</th>
      <th>Adres</th>
      <th colspan="3">Opcje</th>
    </tr>
  </thead>

  <tbody>
    <% @wedding_rooms.each do |wedding_room| %>
      <tr>
        <td><%= wedding_room.name %></td>
        <td><%= wedding_room.adress %></td>
        <td><%= link_to 'Pokaz', wedding_room %></td>
        <td><%= link_to 'Edytuj', edit_wedding_room_path(wedding_room) %></td>
        <td><%= link_to 'Usun', wedding_room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj', new_wedding_room_path %>

<br><br>
<h3><i><b>Dekoracje </i></b></h3>

<table class="table">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Kolor</th>
      <th>Ilosc</th>
      <th colspan="3">Opcje</th>
    </tr>
  </thead>

  <tbody>
    <% @wedding_decorations.each do |wedding_decoration| %>
      <tr>
        <td><%= wedding_decoration.name %></td>
        <td><%= wedding_decoration.colour %></td>
        <td><%= wedding_decoration.amount %></td>
        <td><%= link_to 'Pokaz', wedding_decoration %></td>
        <td><%= link_to 'Edytuj', edit_wedding_decoration_path(wedding_decoration) %></td>
        <td><%= link_to 'Usun', wedding_decoration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj', new_wedding_decoration_path %>

<br><br>
<h3><i><b>Obsluga</i></b></h3>

<table class="table">
  <thead>
    <tr>
      <th>Kto</th>
      <th>Nazwa</th>
      <th>Kontakt</th>
      <th colspan="3">Opcje</th>
    </tr>
  </thead>

  <tbody>
    <% @wedding_services.each do |wedding_service| %>
      <tr>
        <td><%= wedding_service.who %></td>
        <td><%= wedding_service.name %></td>
        <td><%= wedding_service.contact %></td>
        <td><%= link_to 'Pokaz', wedding_service %></td>
        <td><%= link_to 'Edytuj', edit_wedding_service_path(wedding_service) %></td>
        <td><%= link_to 'Usun', wedding_service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj', new_wedding_service_path %>

<br><br>
<h3><i><b>Obraczki</b></i></h3>

<table class="table">
  <thead>
    <tr>
      <th>Nazwa modelu</th>
      <th>Rozmiar</th>
      <th colspan="3">Opcje</th>
    </tr>
  </thead>

  <tbody>
    <% @church_rings.each do |church_ring| %>
      <tr>
        <td><%= church_ring.name %></td>
        <td><%= church_ring.size %></td>
        <td><%= link_to 'Pokaz', church_ring %></td>
        <td><%= link_to 'Edytuj', edit_church_ring_path(church_ring) %></td>
        <td><%= link_to 'Usun', church_ring, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Dodaj', new_church_ring_path %>
